extends layout

block content
  h1= title
  label(id='error', class='hidden') #{error}
  h3 You will receive your verification code in a while

  form.form-inline(action='/users/check-code', method='post')
    div.form-group.ml-2
      input(name='request_id', type='hidden', value=request_id)
      input(name='number', type='hidden', value=number)
      label.ml-2 Enter your verification code
      input.form-control.ml-2(name='code', type='text', required='')
    button.btn.btn-primary.ml-2(type='submit') Send
  script.
    var error = $("#error").text();
    console.log(error)
    if (error !== '') alert(error);
